.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: stretch; */
    justify-content: stretch;
    align-items: stretch;
    /* justify-items: stretch; */
    grid-template-rows: 1fr;
}

.gallery img{
    width: 90%;
    margin: 4.5%;
    justify-self: stretch;
    align-self: stretch;
}

nav li{
    background-color: pink;
    text-align: center;
    border: 2px solid black;
    border-radius: 14px;
    display: inline-block;
    padding: 10px;
    width:15%;
    margin:1%;
}

nav a:visited{
    color:black;
}

nav a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-family:"copperplate" ;
}

nav a:hover{
    text-decoration: underline;
}
  
nav a:focus{
    text-decoration: underline;
}

h1{
    text-align: center;
}