.gallery{
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: stretch; */
    justify-content: stretch;
    align-items: stretch;
    /* justify-items: stretch; */
    grid-template-rows: 1fr;
}
.gallery img{
    width: 90%;
    margin: 4.5%;
    justify-self: center;
    align-self: stretch;
}
.gallery img:hover{
    position: relative;
    border: 10px tan double;
}

p{
    text-align: center;
    font-family:"copperplate" ;
}
ul{
    padding-inline-start: 0px;
}
body{
    background-color: lightblue;
}
nav{
    align-items: center;
}
/*styling the nav*/

nav li{
    /* font-size:small; */
    background-color: pink;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px; 
    padding: 15px;
    height: 30px;
    width:200px;
    margin: 2%;
    list-style: none;
    transition: background-color 2s ease-out 100ms;
} 


nav li:hover{
    box-shadow: 5px 5px;
    width:210px;
    background-color: rgb(254, 120, 142);
}

nav li:nth-child(3){
    background-color: antiquewhite;
    font-size: medium;
    border: 6px black double;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    /* padding-top: 20px; */
    /* height: 50px;
    width:20%; */
    margin:1%;
}

nav li:nth-child(3):hover{
    box-shadow: 10px 5px;
    background-color: rgb(249, 208, 150);
    padding: 13px;
    width:225px;
    height: 53px;
}

nav a:visited{
    color:black;
}
nav a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-family:"copperplate" ;
}

nav a:hover{
    text-decoration: underline;
}
nav a:focus{
    text-decoration: underline;
}
.navigation_links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styling skip to main content link */
.skip a{
    position: absolute; 
    top: -40px;
}

.skip a:focus{
    position: absolute;
    top: 20px;
    animation:forwards;
}

.skip a:visited{
    color:black;
}

/*styling header titles*/
h1{
    text-align: center;
    font-family:"copperplate" ;
    color: blue;
}

@media screen and (min-width:800px){ 

    body{
        background: linear-gradient(rgb(217, 217, 251),pink);
    }
    nav li{
        width: 230px;
        padding: 10px;
        height: 40px;
        font-size: large;
    }

    nav li:hover{
        width: 220px;
        padding: 15px;
        height: 40px;
    }

    nav li:nth-child(3){
        font-size: larger;
        border-radius: 15px;
        display: inline-block;
        padding: 6px;
        /* padding-top: 20px; */
        /* height: 70px;
        width:20%; */
        /* margin:1%; */
    }
    
    nav li:nth-child(3):hover{
        box-shadow: 10px 5px;
        padding: 15px;
        padding-top: 20px;
        width:240px;
        height: 50px;
    }

    nav{
        align-items: center;
        overflow: hidden;
    }
    .navigation_links{
        align-items:center;
    }
    .navigation_links{
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    ul{
        padding-inline-start: 0px;
    }
    
    /* nav li{
        width: 100px;
        height: auto;
    } */
    nav li:hover{
        box-shadow: 10px 5px;
        width:200px;
        height:auto;
    }
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1150px){
    body{
        background: linear-gradient(lightblue,pink);
    }

    nav li:hover{
        box-shadow: 10px 5px;
        width:200px;
        height:30px;
    }

    nav li{
        padding-bottom: 15px;
    }
    nav li:nth-child(3){
        font-size: x-large;
        border-radius: 15px;
        display: inline-block;
        padding: 15px;
        padding-top: 10px;
        height: 45px;
        width:20%;
        /* margin:1%; */
    }
    
    nav li:nth-child(3):hover{
        box-shadow: 10px 5px;
        padding: 15px;
        padding-top: 10px;
        width:245px;
        height: 47px;
    }
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (prefers-reduced-motion: reduce){
    nav li:hover{
        transition: none;
    }
}