/* styling the nav */
nav li{
    background-color: pink;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    width:18%;
    margin:1%;
}

nav a:visited{
    color:black;
}

nav a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

nav a:focus{
    text-decoration: underline;
}

/* styling skip to main content link */
.skip a{
    position: absolute; 
    top: -40px;
}

.skip a:focus{
    position: absolute;
    top: 20px;
    animation:forwards;
}

h1{
    text-align: center;
}